.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "github description description"
    "twitter description description";
}
.github {
  grid-area: github;
}
.twitter {
  grid-area: twitter;
}
.description {
  grid-area: description;
  color: #828282;
}

.footer {
  margin-top: 2rem;
  border-top: 1px solid rgb(190, 190, 190);
  padding: 1rem 0 1rem 0;
}

.link {
  display: flex;
  align-items: center;
  max-width: 160px;

  span {
    padding: 0.2rem 0.5rem;
  }
}
