.table {
  font-size: 1rem;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  background-color: white;
}

.tableCell {
  border-bottom: 1px solid rgba(224, 224, 224, 1);
  padding: 1rem;
}

.tableHead {
  min-width: 150px;
}
